.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-align: center;

  @include max(1150) {
    width: auto;
    padding-top: 50px;
  }
  @include max(580) {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
}

.pagination__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  @include max(580) {
    justify-content: space-between;
    width: 100%;
  }
}

.pagination__item {
  margin: 0;
  list-style: none;
}

.pagination__link {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  transition: .5s;
  text-align: center;
  text-decoration: none;
  color: $brand;
  border-radius: 50%;
  background-color: transparent;

  @include max(580) {
    font-size: 15px;
    line-height: 20px;
    width: 20px;
    height: 30px;
  }
  &.active {
    pointer-events: none;
    color: #fff;
    background-color: $highlight;

    @include max(580) {
      color: $highlight;
      background-color: transparent;
    }
  }
  &:hover {
    color: $highlight;
  }
}

.pagination-arr__left,
.pagination-arr__right {
  position: relative;
  padding: 0 20px;

  @include max(1150) {
    position: absolute;
    top: 0;
    padding: 0 25px;
  }
  @include max(580) {
    padding: 0 10px;
  }
}

.pagination-arr__left {
  @include max(1150) {
    left: 0;
  }
}

.pagination-arr__right {
  @include max(1150) {
    right: 0;
  }
}

.pagination-arr__link {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  text-decoration: none;
  color: #253a5a;
  border: none;
}
