.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
}

.pagination__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagination__item {
  margin: 0;
  list-style: none;
}

.pagination__link {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  transition: .5s;
  text-align: center;
  text-decoration: none;
  color: $brand;
  border-radius: 50%;
  background-color: transparent;
  &.active {
    pointer-events: none;
    color: #fff;
    background-color: $highlight;
  }
  &:hover {
    color: $highlight;
  }
}

.pagination-arr__left,
.pagination-arr__right {
  position: relative;
  padding: 0 20px;
}

.pagination-arr__link {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  text-decoration: none;
  color: #253a5a;
  border: none;
}
