.popup__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, .6);
}

.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: none;
  overflow: auto;
  width: 95%;
  max-width: 670px;
  max-height: 95vh;
  padding: 50px;
  transform: translate(-50%, -50%);
  background-color: #fff;

  @include max(580) {
    width: 100%;
    max-width: calc(100% - 40px);
    padding: 40px 20px;
  }
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: transform .5s;

  &:hover {
    transform: rotate(360deg);
  }
  svg {
    fill: $highlight;
    width: 15px;
    height: 15px;
  }
}

.popup__title {
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  margin-bottom: 30px;
  color: #272425;

  @include max(767) {
    font-size: 20px;
    line-height: 27px;
  }
}

.popup-form {
  display: flex;
  flex-wrap: wrap;
}

.popup-form__label {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
  span {
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    display: block;
    margin-bottom: 10px;
    color: #272425;
    i {
      font-style: normal;
      color: #e2e2e2;
    }
  }
  input,
  textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    width: 100%;
    color: #272425;
    border: 1px solid #e5e5e5;
  }
  input {
    padding: 12px 14px;
  }
  textarea {
    min-height: 100px;
    padding: 14px;
  }
}

.popup-form__input-file {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 17px;
  margin-bottom: 17px;

  @include max(480) {
    height: auto;
  }
  input {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    cursor: pointer;
    opacity: 0;
  }
  svg {
    flex: none;
    fill: $highlight;
    width: 12px;
    height: 17px;
    margin-right: 15px;
  }
  span {
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    color: #253a5a;
  }
}

.popup-form__submit {
  width: 100%;
}

.popup-form__submit-input {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 10px;
  padding: 13px 20px;
  transition: .5s;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: $highlight;

  @include max(480) {
    width: 100%;
  }

  &:hover {
    color: #fff;
    background-color: $highlight-hov;
  }
}

.popup-form__submit-agree {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  display: block;
  color: #979ea0;
  a {
    text-decoration: none;
    color: $brand;
    &:hover {
      text-decoration: underline;
      color: $highlight;
    }
  }
}

.faq-popup,
.light-request-popup,
.login-popup {
  max-width: 400px;

  @include max(480) {
    max-width: 95%;
  }
  .popup-form__submit-input {
    width: 100%;
  }
}

.popup-form__forgot-password {
  margin-top: -15px;
  margin-bottom: 40px;

  @include max(480) {
    margin-bottom: 20px;
  }
}

.popup-form__btns {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include max(480) {
    flex-direction: column;
    align-items: center;
  }
  .btn {
    padding-right: 30px;
    padding-left: 30px;

    @include max(480) {
      width: 100%;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .btn--100 {
    width: 100%;
  }
}

.popup-form__btn-user {
  position: relative;

  @include max(480) {
    width: 100%;
  }
  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 22px;
    fill: #009bc9;
    width: 14px;
    height: 17px;
    margin: auto;
    cursor: pointer;

    @include max(480) {
      display: none;
    }
  }
  .btn {
    padding-right: 15px;
    padding-left: 47px;

    @include max(480) {
      padding-left: 15px;
    }
  }
}

.delete-order-popup {
  max-width: 430px;
  padding: 40px 20px;
}

.delete-order-popup__title {
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
  color: #aab0b1;
}
