.catalog-mobile-menu {
  display: none;
  overflow: auto;
  width: 100%;
  height: calc(100vh - 50px);
  border-bottom: 30px solid $brand;
  background-color: #fff;
}

.catalog-mobile-menu__close {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 20px 30px;
  cursor: pointer;
  background-color: #f2f2f2;

  @include max(1023) {
    padding: 20px;
  }
  svg {
    width: 8px;
    height: 12px;
    margin-right: 15px;

    stroke: $brand;
    stroke-width: 2px;
  }
  span {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    color: #253a5a;
  }
}

.catalog-mobile-menu__col {
  padding-bottom: 30px;
}

.catalog-mobile-menu__list {
  margin: 0;
  padding: 0;
}

.catalog-mobile-menu__item {
  position: relative;
  display: none;
  justify-content: space-between;
  padding: 0 30px 15px 30px;
  list-style: none;

  @include max(1023) {
    padding: 0 20px 15px 20px;
  }

  &.active {
    &::before {
      opacity: 0;
    }
    svg {
      transform: rotate(270deg);
    }
  }
  &:first-child {
    display: flex;
    padding: 20px 30px;
    cursor: pointer;

    @include max(1023) {
      padding: 20px;
    }
    &::before {
      position: absolute;
      right: 20px;
      bottom: 0;
      left: 20px;
      width: calc(100% - 40px);
      height: 1px;
      content: '';
      transition: opacity .5s;
      background-color: #e5e5e5;
    }
    .catalog-mobile-menu__link {
      opacity: 1;
    }
  }

  svg {
    display: none;
    flex: none;
    width: 8px;
    height: 12px;
    margin-top: 2px;
    margin-left: 20px;
    transition: transform .5s;
    transform: rotate(180deg);

    stroke-width: 2px;
    stroke: #979ea0;
  }
}

.catalog-mobile-menu__item--first {
  svg {
    display: block;
  }
}

.catalog-mobile-menu__link {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  transition: .5s;
  text-decoration: none;
  opacity: .6;
  color: #272425;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  &:hover {
    color: #272425;
    border-bottom: 1px solid rgba(0, 0, 0, .7);
  }
}
