.catalog-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  background-color: $brand;

  @include max(1150) {
    display: none !important;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}

.catalog-menu__header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 120px;
}

.catalog-menu__close {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  .burger {
    pointer-events: none;
  }
}

.catalog-menu__close-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  display: block;
  margin-right: 10px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.catalog-menu__col {
  width: calc(33.33% - 20px);
}

.catalog-menu__list {
  margin: 0 0 35px 0;
  padding: 0 0 0 33px;

  @include maxh(950) {
    margin: 0 0 10px 0;
  }
}

.catalog-menu__item {
  position: relative;
  margin-bottom: 9px;
  list-style: none;

  @include maxh(950) {
    margin-bottom: 5px;
  }
  &:first-child {
    margin-bottom: 15px;
    &::before {
      position: absolute;
      top: 10px;
      left: -35px;
      width: 20px;
      height: 2px;
      content: '';
      background-color: $highlight;
    }
    .catalog-menu__link {
      font-size: 18px;
      font-weight: normal;
      line-height: 24px;
      opacity: 1;
      color: #fff;
    }
  }
}

.catalog-menu__link {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  transition: .5s;
  text-decoration: none;
  opacity: .6;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  &:hover {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
  }
}
