mixin filter-mobile-menu__list-wrap
  .filter-mobile-menu__list-wrap
    ul.filter-mobile-menu__list
      li.filter-mobile-menu__item
        a(href="#").filter-mobile-menu__link Магнитные сверлильные станки Rotabroach
      li.filter-mobile-menu__item
        a(href="#").filter-mobile-menu__link Магнитные сверлильные станки Euroboor
      li.filter-mobile-menu__item
        a(href="#").filter-mobile-menu__link Магнитные сверлильные станки Rotabroach
      li.filter-mobile-menu__item
        a(href="#").filter-mobile-menu__link Магнитные сверлильные станки Euroboor
      li.filter-mobile-menu__item
        a(href="#").filter-mobile-menu__link Магнитные сверлильные станки Rotabroach
      li.filter-mobile-menu__item
        a(href="#").filter-mobile-menu__link Магнитные сверлильные станки Euroboor
      li.filter-mobile-menu__item
        a(href="#").filter-mobile-menu__link Магнитные сверлильные станки Rotabroach
      li.filter-mobile-menu__item
        a(href="#").filter-mobile-menu__link Магнитные сверлильные станки Euroboor
      li.filter-mobile-menu__item
        a(href="#").filter-mobile-menu__link Магнитные сверлильные станки Euroboor

//begin filter-aside-mobile-category-menu
.filter-aside-mobile-category-menu#filter-aside-mobile-category-menu
  .catalog-mobile-menu__header
    .catalog-mobile-menu__close
      +svg('arr-left')
      span Назад

  //begin filter-aside-mobile__menu
  .filter-aside-mobile__menu.filter-aside-mobile__menu--all.filter-mobile-menu
    div
      .filter-aside-mobile__menu-subtitle
        span Магнитные сверлильные станки
        +svg('arr-left')
      +filter-mobile-menu__list-wrap
    div
      .filter-aside-mobile__menu-subtitle
        span Корончатые сверла по металлу
        +svg('arr-left')
      +filter-mobile-menu__list-wrap
    div
      .filter-aside-mobile__menu-subtitle
        span Аксессуары к сверлильным станкам на магните
        +svg('arr-left')
      +filter-mobile-menu__list-wrap
    div
      .filter-aside-mobile__menu-subtitle
        span Бензогайковерты, комплектующие и запчасти
        +svg('arr-left')
      +filter-mobile-menu__list-wrap
    div
      .filter-aside-mobile__menu-subtitle
        span Борфрезы
        +svg('arr-left')
      +filter-mobile-menu__list-wrap
    div
      .filter-aside-mobile__menu-subtitle
        span Отрезные диски
        +svg('arr-left')
      +filter-mobile-menu__list-wrap
    div
      .filter-aside-mobile__menu-subtitle
        span Отрезные пилы
        +svg('arr-left')
      +filter-mobile-menu__list-wrap
    div
      .filter-aside-mobile__menu-subtitle
        span Рельсорезные станки и комплектующие
        +svg('arr-left')
      +filter-mobile-menu__list-wrap
    div
      .filter-aside-mobile__menu-subtitle
        span Рельсосверлильные станки и комплектующие
        +svg('arr-left')
      +filter-mobile-menu__list-wrap
    div
      .filter-aside-mobile__menu-subtitle
        span Станки для снятия фаски
        +svg('arr-left')
      +filter-mobile-menu__list-wrap
    div
      .filter-aside-mobile__menu-subtitle
        span Услуги
        +svg('arr-left')
      +filter-mobile-menu__list-wrap
  //end filter-aside-mobile__menu
//end filter-aside-mobile-category-menu
