//begin filter-aside-mobile-category-menu
.filter-aside-mobile-category-menu#filter-aside-mobile-category-menu
  .catalog-mobile-menu__header
    .catalog-mobile-menu__close
      +svg('arr-left')
      span Назад

  //begin filter-aside-mobile__menu
  .filter-aside-mobile__menu.filter-mobile-menu
    .filter-aside-mobile__menu-subtitle.active
      span Магнитные сверлильные станки
    .filter-mobile-menu__list-wrap
      ul.filter-mobile-menu__list
        li.filter-mobile-menu__item
          a(href="#").filter-mobile-menu__link Корончатые сверла по металлу
        li.filter-mobile-menu__item
          a(href="#").filter-mobile-menu__link Аксессуары к сверлильным станкам на магните
        li.filter-mobile-menu__item
          a(href="#").filter-mobile-menu__link Бензогайковерты, комплектующие и запчасти
        li.filter-mobile-menu__item
          a(href="#").filter-mobile-menu__link Борфрезы
        li.filter-mobile-menu__item
          a(href="#").filter-mobile-menu__link Отрезные диски
        li.filter-mobile-menu__item
          a(href="#").filter-mobile-menu__link Отрезные пилы
        li.filter-mobile-menu__item
          a(href="#").filter-mobile-menu__link Рельсорезные станки и комплектующие
        li.filter-mobile-menu__item
          a(href="#").filter-mobile-menu__link Рельсосверлильные станки и комплектующие
        li.filter-mobile-menu__item
          a(href="#").filter-mobile-menu__link Станки для снятия фаски
        li.filter-mobile-menu__item
          a(href="#").filter-mobile-menu__link Услуги
  //end filter-aside-mobile__menu
//end filter-aside-mobile-category-menu
