//begin footer-top
.footer-top
  .container
    ul.footer-top__list
      li.footer-top__item
        a(href="#").footer-top__link Магнитные сверлильные станки
      li.footer-top__item
        a(href="#").footer-top__link Борфрезы
      li.footer-top__item
        a(href="#").footer-top__link Рельсосверлильные станки и комплектующие
      li.footer-top__item
        a(href="#").footer-top__link Корончатые сверла по металлу
      li.footer-top__item
        a(href="#").footer-top__link Отрезные диски
      li.footer-top__item
        a(href="#").footer-top__link Станки для снятия фаски
      li.footer-top__item
        a(href="#").footer-top__link Аксессуары к сверлильным станкам на магните
      li.footer-top__item
        a(href="#").footer-top__link Отрезные пилы
      li.footer-top__item
        a(href="#").footer-top__link Услуги
      li.footer-top__item
        a(href="#").footer-top__link Бензогайковерты, комплектующие и запчасти
      li.footer-top__item
        a(href="#").footer-top__link Рельсорезные станки и комплектующие
//end footer-top