//begin help-line
.help-line
  .container
    span.help-line__text Если у Вас есть вопросы — наши специалисты Вам помогут
    a(href="tel:+88124540080").help-line__phone 8 812 454-00-80
    a(href="#").help-line__btn Обратный звонок
//end help-line