//begin index-aside
aside.index__aside.index-aside
  header.index-aside__header
    h2.index-aside__title Полезные статьи

  .index-aside__articles
    a(href="#").index-aside__article.index-aside-article
      h3.index-aside-article__title Распродажа светильных станков Rotabroach
      span.index-aside-article__text Компания Kerner является представителем Rotabroach в России. Мы предлагаем купить сверлильные станки в магазине Falcon и Cobra по
      span.index-aside-article__date 16 октября 2017

    a(href="#").index-aside__article.index-aside-article
      h3.index-aside-article__title Сверление корончатым сверлом
      span.index-aside-article__text В свое время сверление корончатым сверлом (кольцевой фрезой) практически произвело революцию в сфере металообработки.
      span.index-aside-article__date 13 октября 2017

    a(href="#").index-aside__article.index-aside-article
      .index-aside-article__img
        img(src="assets/img/aside-article.jpg" alt="picture")
      h3.index-aside-article__title Сверление корончатым сверлом
      span.index-aside-article__text В свое время сверление корончатым сверлом (кольцевой фрезой) практически произвело революцию в сфере металообработки.
      span.index-aside-article__date 13 октября 2017

//end index-aside