//begin pages-aside
.pages-aside
  .pages-aside__top
    span.pages-aside__top-title О компании
    span.pages-aside__top-arr
      svg(width='7', height='12', viewBox='0 0 7 12', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M6 1L2 6L6 11', stroke='#253A5A', stroke-width='2')

  //begin pages-aside-menu
  nav.pages-aside__menu.pages-aside-menu
    ul.pages-aside-menu__list
      li.pages-aside-menu__item.active
        a(href="#").pages-aside-menu__link О компании
      li.pages-aside-menu__item
        a(href="#").pages-aside-menu__link Оплата и доставка
      li.pages-aside-menu__item
        a(href="#").pages-aside-menu__link Производители
      li.pages-aside-menu__item
        a(href="#").pages-aside-menu__link Новости и статьи
      li.pages-aside-menu__item
        a(href="#").pages-aside-menu__link Отзывы
      li.pages-aside-menu__item
        a(href="#").pages-aside-menu__link Контакты
  //end pages-aside-menu

  include ../elements/pages-aside-banner


//end pages-aside