//begin team-slider
.team-slider
  h2.team-slider__title Команда <span>Kerner</span>

  //begin team-slider__list
  ul.team-slider__list#team-slider__list
    li.team-slider__item
      .team-slider__img
        img(src="assets/img/about-team-01.jpg" alt="picture")
      .team-slider__info
        h4.team-slider__name Ольховик Никита
        span.team-slider__position Генеральный директор
        span.team-slider__phone Тел. 8 (800) 333-05-20 доб. 220
        a(href="mailto:olhovik@kerner.ru").team-slider__mail olhovik@kerner.ru

    li.team-slider__item
      .team-slider__img
        img(src="assets/img/about-team-02.jpg" alt="picture")
      .team-slider__info
        h4.team-slider__name Таймасов Николай
        span.team-slider__position Коммерческий директор
        span.team-slider__phone Тел. 8 (800) 333-05-20 доб. 210
        span.team-slider__phone Моб. +7 911 104 17 10
        a(href="mailto:olhovik@kerner.ru").team-slider__mail olhovik@kerner.ru

    li.team-slider__item
      .team-slider__img
        img(src="assets/img/about-team-03.jpg" alt="picture")
      .team-slider__info
        h4.team-slider__name Ермакова Наталья
        span.team-slider__position Помощник генерального директора
        span.team-slider__phone Тел. 8 (800) 333-05-20 доб. 210
        span.team-slider__phone Моб. +7 911 104 17 10
        a(href="mailto:olhovik@kerner.ru").team-slider__mail olhovik@kerner.ru

    li.team-slider__item
      .team-slider__img
        img(src="assets/img/about-team-04.jpg" alt="picture")
      .team-slider__info
        h4.team-slider__name Князев Вячеслав
        span.team-slider__position Менеджер по продажам
        span.team-slider__phone Тел. 8 (800) 333-05-20 доб. 225
        span.team-slider__phone Моб. +7 (911) 711-89-51
        a(href="mailto:knyazev@kerner.ru").team-slider__mail knyazev@kerner.ru
  //end team-slider__list
//end team-slider