//begin under__header
header.under__header.under-header
  .container
    //begin under-header__logo
    .under-header__logo
      a(href="/").under-header__logo-img
        img(src="assets/img/logo-color.svg" alt="kerner")
      span.under-header__logo-descr Обрудование для сверления и металлообработки
    //end under-header__logo

    //begin under-header__price
    a(href="#").under-header__price
      +svg('file')
      span.under-header__price-text Скачать прайс-лист
    //end under-header__price

    //begin under-header__call
    .under-header__call
      a(href="tel:+88124540080").under-header__call-phone 8 812 454-00-80
      button.under-header__call-callback Обратный звонок
    //end under-header__call
//end under-header__header