//begin under-hero
.under-hero
  .container
    //begin under-hero__shield
    .under-hero__shield
      +svg('shield')
      .under-hero__shield-rub
        +svg('rub')
    //end under-hero__shield

    h3.under-hero__title выгодно оптом
    span.under-hero__text Скидки до 30% для оптовых покупателей
    a(href="#").under-hero__btn Стать оптовиком
//end under-hero