//begin category-table__footer
.category-table__footer
  .category-table__footer-compare
    label.popular-slider__compare
      input(type='checkbox')
      span

        svg(width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M1 2.33333L3.8 5L8 1" stroke-width="2")
    select.selectbox-ui
      option в корзину
      option(selected) в сравнение

  a(href="#").category-table__footer-btn Применить

  .category-table__footer-quantity
    .category-table__footer-title Выводить на странице:
    select.selectbox-ui
      option 20
      option(selected) 30
      option 100
      option 200
//end category-table__footer
