.category-body__popular.category-popular-filter.hidden-desktop--parent
  .category-popular-filter__title Популярные подборки
  ul.category-popular-filter__list
    li.category-popular-filter__item
      a(href="#").category-popular-filter__link Rotabroach
    li.category-popular-filter__item
      a(href="#").category-popular-filter__link Euroboor
    li.category-popular-filter__item
      a(href="#").category-popular-filter__link Вектор
    li.category-popular-filter__item
      a(href="#").category-popular-filter__link Magtron
    li.category-popular-filter__item
      a(href="#").category-popular-filter__link Rotabroach
    li.category-popular-filter__item
      a(href="#").category-popular-filter__link Euroboor
    li.category-popular-filter__item
      a(href="#").category-popular-filter__link Вектор
    li.category-popular-filter__item
      a(href="#").category-popular-filter__link Magtron
    li.category-popular-filter__item.hidden-desktop
      a(href="#").category-popular-filter__link Euroboor
    li.category-popular-filter__item.hidden-desktop
      a(href="#").category-popular-filter__link Вектор
    li.category-popular-filter__item.hidden-desktop
      a(href="#").category-popular-filter__link Magtron
    li.category-popular-filter__item.hidden-desktop
      a(href="#").category-popular-filter__link Rotabroach
    li.category-popular-filter__item.hidden-desktop
      a(href="#").category-popular-filter__link Euroboor
    li.category-popular-filter__item.hidden-desktop
      a(href="#").category-popular-filter__link Вектор
  a(href="#").category-popular-filter__all.visible-desktop.open
    span.visible-desktop__open Показать еще
    span.visible-desktop__close Скрыть
//end category-body__popular
