//begin pages-aside-banner
.pages-aside__banner.pages-aside-banner
  span.pages-aside-banner__text Если у Вас есть вопросы —<br>наши специалисты<br>Вам помогут
  a(href="tel:+88124540080").pages-aside-banner__link 8 812 454-00-80
  a(href="#").pages-aside-banner__callback Обратный звонок
//end pages-aside-banner