.popup__layer#popup__layer
//begin review-popup
.popup.review-popup#review-popup
  .popup__close
    +svg('close')

  .popup__header
    h2.popup__title Оставить отзыв

  .popup__body
    form.popup__form.popup-form
      label.popup-form__label
        span Имя <i>*</i>
        input(name='name' placeholder='' required).popup-form__input
      label.popup-form__label
        span Почта <i>*</i>
        input(type='email' name='email' placeholder='' required).popup-form__input
      label.popup-form__label
        span Компания
        input(name='company' placeholder='').popup-form__input
      label.popup-form__label
        span Коментарий <i>*</i>
        textarea(name='message' placeholder='').popup-form__textarea

      .popup-form__input-file
        input(type='file')
        +svg('attached')
        span Прикрепить файл (не более 30Мб)

      .popup-form__submit
        input(type='submit' value='Отправить').popup-form__submit-input
        span.popup-form__submit-agree Нажимая на кнопку, Вы даете согласие на <a href='#'>обработку</a> своих персональных данных
//end review-popup

//begin faq-popup
.popup.faq-popup#faq-popup
  .popup__close
    +svg('close')

  .popup__header
    h2.popup__title Задать вопрос

  .popup__body
    form.popup__form.popup-form
      label.popup-form__label
        span Имя <i>*</i>
        input(name='name' placeholder='' required).popup-form__input
      label.popup-form__label
        span Почта <i>*</i>
        input(type='email' name='email' placeholder='' required).popup-form__input
      label.popup-form__label
        span Коментарий <i>*</i>
        textarea(name='message' placeholder='').popup-form__textarea

      .popup-form__submit
        input(type='submit' value='Отправить').popup-form__submit-input
        span.popup-form__submit-agree Нажимая на кнопку, Вы даете согласие на <a href='#'>обработку</a> своих персональных данных
//end faq-popup

//begin light-request-popup
.popup.light-request-popup#light-request-popup
  .popup__close
    +svg('close')

  .popup__header
    h2.popup__title Упрощенная заявка

  .popup__body
    form.popup__form.popup-form
      label.popup-form__label
        span Имя <i>*</i>
        input(name='name' placeholder='Имя*' required).popup-form__input
      label.popup-form__label
        span Телефон <i>*</i>
        input(type='text' name='phone' placeholder='Телефон*' required).popup-form__input.phone-mask

      .popup-form__submit
        input(type='submit' value='Оформить заявку').popup-form__submit-input.btn
      span.popup-form__submit-agree Нажимая на кнопку, Вы даете согласие на <a href='#'>обработку</a> своих персональных данных
//end light-request-popup

//begin light-request-popup
.popup.light-request-popup#document-popup
  .popup__close
    +svg('close')

  .popup__body
    form.popup__form.popup-form
      label.popup-form__label
        span Почта <i>*</i>
        input(type='email' name='email' placeholder='' required).popup-form__input

      .popup-form__submit
        input(type='submit' value='Заказать документ').popup-form__submit-input.btn
      span.popup-form__submit-agree Нажимая на кнопку, Вы даете согласие на <a href='#'>обработку</a> своих персональных данных
//end light-request-popup

//begin light-request-popup
.popup.login-popup#login-popup
  .popup__close
    +svg('close')

  .popup__header
    h2.popup__title Войти

  .popup__body
    form.popup__form.popup-form
      label.popup-form__label
        span Электронная почта
        input(type='email' name='email' placeholder='@' required).popup-form__input
      label.popup-form__label
        span Пароль
        input(type='password' name='password' placeholder='' required).popup-form__input

      a(href="#" data-popup='forgot-popup').popup-form__forgot-password.popup-open Забыли пароль?

      .popup-form__btns
        input(type='submit' value='Зарегистрироваться').btn.btn--transparent
        input(type='submit' value='Войти').btn
//end light-request-popup

//begin light-request-popup
.popup.login-popup#register-popup
  .popup__close
    +svg('close')

  .popup__header
    h2.popup__title Регистрация

  .popup__body
    form.popup__form.popup-form
      label.popup-form__label
        span Имя
        input(type='text' name='name' placeholder='' required).popup-form__input
      label.popup-form__label
        span Электронная почта
        input(type='email' name='email' placeholder='@' required).popup-form__input

      .popup-form__btns
        input(type='submit' value='Зарегистрироваться').btn
        .popup-form__btn-user
          +svg('user')
          input(type='submit' value='Войти').btn.btn--transparent
//end light-request-popup

//begin light-request-popup
.popup.login-popup#forgot-popup
  .popup__close
    +svg('close')

  .popup__header
    h2.popup__title Восстановить пароль

  .popup__body
    form.popup__form.popup-form
      label.popup-form__label
        span Электронная почта
        input(type='email' name='email' placeholder='@' required).popup-form__input

      .popup-form__btns
        input(type='submit' value='Отмена').btn.btn--transparent
        input(type='submit' value='Восстановить').btn.btn--100
//end light-request-popup