//begin header__social
.header__social.header-social.header-social--index
  ul.header-social__list
    .header-social__item
      a(href="" target="_blank" rel="nofollow noopener noreferrer").header-social__link.header-social__link--vk
        +svg('vk')
    .header-social__item
      a(href="" target="_blank" rel="nofollow noopener noreferrer").header-social__link.header-social__link--fb
        +svg('fb')
    .header-social__item
      a(href="" target="_blank" rel="nofollow noopener noreferrer").header-social__link.header-social__link--youtube
        +svg('youtube')
    .header-social__item
      a(href="" target="_blank" rel="nofollow noopener noreferrer").header-social__link.header-social__link--inst
        +svg('inst')
//end header__social