//begin header__social
.header__social.header-social.header-social--pages
  ul.header-social__list
    .header-social__item
      a(href="" target="_blank" rel="nofollow noopener noreferrer").header-social__link.header-social__link--vk
        include ../../img/icons/vk.svg
    .header-social__item
      a(href="" target="_blank" rel="nofollow noopener noreferrer").header-social__link.header-social__link--fb
        include ../../img/icons/fb.svg
    .header-social__item
      a(href="" target="_blank" rel="nofollow noopener noreferrer").header-social__link.header-social__link--youtube
        include ../../img/icons/youtube.svg
    .header-social__item
      a(href="" target="_blank" rel="nofollow noopener noreferrer").header-social__link.header-social__link--inst
        include ../../img/icons/instagram.svg
//end header__social