// begin header-mobile
header.header-mobile#header-mobile
  .container
    //begin header-mobile__logo
    a(href="/").header-mobile__logo.header-mobile__logo--index
      +svg('logo-mobile')
    //end header-mobile__logo

    //begin header-mobile__logo
    a(href="/").header-mobile__logo.header-mobile__logo--pages
      include ../../../img/logo-mobile-color.svg
    //end header-mobile__logo


    //begin header-mobile__search
    .header-mobile__search#header-mobile__search
      +svg('magnify')
    //end header-mobile__search

    //begin header-mobile__call
    a(href="tel:+88124540080").header-mobile__call
      +svg('call')
    //end header-mobile__call

    //begin header-mobile__burger
    .header-mobile__burger#header-mobile__burger
      include ../../elements/burger
    //end header-mobile__burger


    //begin header__menu
    //nav.header__menu.header-menu
      ul.header-menu__list
        li.header-menu__item
          a(href="#").header-menu__link О компании
        li.header-menu__item
          a(href="#").header-menu__link Оплата и доставка
        li.header-menu__item
          a(href="#").header-menu__link Производители
        li.header-menu__item
          a(href="#").header-menu__link Новости и статьи
        li.header-menu__item
          a(href="#").header-menu__link Контакты
        li.header-menu__item
          a(href="#").header-menu__link Отзывы
    //end header__menu

    //begin header__social
    //.header__social.header-social
      ul.header-social__list
        .header-social__item
          a(href="" target="_blank" rel="nofollow noopener noreferrer").header-social__link.header-social__link--vk
            +svg('vk')
        .header-social__item
          a(href="" target="_blank" rel="nofollow noopener noreferrer").header-social__link.header-social__link--fb
            +svg('fb')
        .header-social__item
          a(href="" target="_blank" rel="nofollow noopener noreferrer").header-social__link.header-social__link--youtube
            +svg('youtube')
        .header-social__item
          a(href="" target="_blank" rel="nofollow noopener noreferrer").header-social__link.header-social__link--inst
            +svg('inst')
    //end header__social
      
    //begin header__login
    //.header__login.header-login
      ul.header-login__list
        li.header-login__item
          a(href="#").header-login__link
            +svg('user')
            span.header-login__text Войти
            //span.header-login__text Личный кабинет
        li.header-login__item
          a(href="#").header-login__link
            span.header-login__text Регистрация
            //span.header-login__text Выйти
    //end header__login
// end header-mobile