// begin header
header.header
  .container
    //begin header__menu
    nav.header__menu.header-menu
      ul.header-menu__list
        li.header-menu__item
          a(href="#").header-menu__link О компании
        li.header-menu__item
          a(href="#").header-menu__link Оплата и доставка
        li.header-menu__item
          a(href="#").header-menu__link Производители
        li.header-menu__item
          a(href="#").header-menu__link Новости и статьи
        li.header-menu__item
          a(href="#").header-menu__link Контакты
        li.header-menu__item
          a(href="#").header-menu__link Отзывы
    //end header__menu

    include ../../elements/social-index
    include ../../elements/social-pages

    //begin header__login
    .header__login.header-login
      ul.header-login__list
        li.header-login__item
          a(href="#" data-popup='login-popup').header-login__link.popup-open
            +svg('user')
            span.header-login__text Войти
            //span.header-login__text Личный кабинет
        li.header-login__item
          a(href="#" data-popup='register-popup').header-login__link.popup-open
            span.header-login__text Регистрация
            //-span.header-login__text Выйти
    //end header__login
// end header