//begin page-header
header.page-header.page-header--selection
  include ../../elements/breadcrumbs/breadcrumbs-selection
  h1.page-header__title #{pageHeaderTitle}
  p Пример текста в 213 слов. Производители стремятся комплектовать оборудование для металлообработки и сверления электрическими приводами или пневматическими. Объясняется выбор следующим моментом: иногда нельзя подвести источник питания либо в здании имеется взрывоопасная атмосфера. В данной ситуации нужно применять только магнитный станок. В других ситуациях логично использовать модели с электрическим приводом, которые подключаются к рабочим сетям.
  p Помимо этого, в комплекте с техникой могут идти аккумуляторы, если подача электроэнергии прекратится, то некоторое время вы сможете все равно продолжить работы. Выбирая магнитный станок, необходимо обратить внимание на то, как подается шпиндель. Когда требуется хорошая скорость обработки заготовок, то лучший вариант - автоматическая подача (работает на 30% мощнее).
  p Производители стремятся комплектовать оборудование для металлообработки и сверления электрическими приводами или пневматическими. Объясняется выбор следующим моментом: иногда нельзя подвести источник питания либо в здании имеется взрывоопасная атмосфера. В данной ситуации нужно применять только магнитный станок. В других ситуациях логично использовать модели с электрическим приводом, которые подключаются к рабочим сетям.
  p Помимо этого, в комплекте с техникой могут идти аккумуляторы, если подача электроэнергии прекратится, то некоторое время вы сможете все равно продолжить работы. Выбирая магнитный станок, необходимо обратить внимание на то, как подается шпиндель. Когда требуется хорошая скорость обработки заготовок, то лучший вариант - автоматическая подача (работает на 30% мощнее).
  p Производители стремятся комплектовать оборудование для металлообработки и сверления электрическими приводами или пневматическими.
//end page-header
