*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.38;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 40px;
  line-height: 50px;

  @include max(767) {
    font-size: 26px;
    line-height: 32px;
  }
}

h2 {
  font-size: 30px;
  line-height: 40px;

  @include max(767) {
    font-size: 21px;
    line-height: 26px;
  }
}

h3 {
  font-size: 24px;
  line-height: 32px;

  @include max(767) {
    font-size: 20px;
    line-height: 27px;
  }
}

h4 {
  font-size: 18px;
  line-height: 30px;

  @include max(767) {
    font-size: 18px;
    line-height: 24px;
  }
}

p {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 16px 0;
  strong {
    font-weight: bold;
  }
}

a {
  transition: color .5s;
  color: $highlight;
  &:hover {
    text-decoration: none;
    color: $highlight-hov;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}

//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  padding: 5px 10px 3px 10px;
  color: $text;
  border: 1px solid $text;
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding-top: 50px;

  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;

  @include max(1023) {
    padding: 0 20px;
  }
}

.hidden-767--parent {
  .hidden-767 {
    @include max(767) {
      display: none;
    }
  }

  .visible-767 {
    display: none;

    @include max(767) {
      display: flex;
    }
  }

  .visible-767__close {
    display: none;
  }
}

.hidden-480--parent {
  .hidden-480 {
    @include max(480) {
      display: none;
    }
  }

  .visible-480 {
    display: none;

    @include max(480) {
      display: flex;
    }
  }

  .visible-480__close {
    display: none;
  }
}

.fixed {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
