extends ../_template

block variables
  - var title           = 'О компании | Kerner'
  - var description     = 'О компании | Kerner'
  - var ogtitle         = 'О компании | Kerner'
  - var ogimage         = 'assets/img/social.jpg'
  - var pageHeaderTitle = 'О компании'

block content
  .main-wrap.page
    include ../sections/headers/header
    include ../sections/headers/header-mobile
    include ../sections/catalog-menu

    //begin content
    main.main
      include ../sections/under-header
      include ../sections/info-line
        
      //begin page__content-wrap
      .page__content-wrap
        .container
          include ../sections/pages-aside

          //begin page-content
          .page__content.about-content
            include ../sections/headers/pages-header
              
            .about-content__img
              img(src="assets/img/about-img.jpg" alt="picture")

            ul.about-content__custom-lines-list
              li.about-content__custom-lines-item
                span Kerner успешно развивается в своем сегменте на территории России и стран СНГ и видит широкие возможности для дальнейшего развития в различных направлениях, связанных с промышленным оборудованием.

            //begin about-content__article
            .about-content__article.about-article
              h2.about-article__title Структура бизнеса <span>Kerner</span>
              .about-article__row
                .about-article__item.about-article__item--33
                  h3.about-article__subtitle Продажа
                  span.about-article__text Основная сфера деятельности компании — продажа оборудования и расходных материалов отечественных и иностранных производителей: Rotabroach (Англия), BDS (Германия), «Вектор» (Белоруссия), Vessel (Япония), Bohre (Россия) и др
                .about-article__item.about-article__item--33
                  h3.about-article__subtitle Логистика
                  span.about-article__text Дополнительно компания предоставляет услуги по хранению и доставке оборудования. Хранение осуществляется на собственных складских помещениях в Санкт-Петербурге. Транспортировка груза — на собственном автотранспорте в пределах Санкт-Петербурга (бесплатная доставка) и через логистические компании по всему миру.
                .about-article__item.about-article__item--33
                  h3.about-article__subtitle Сервис
                  span.about-article__text Специалисты компании осуществляют гарантийный и платный ремонт, а также заточку режущего инструмента, а именно корончатых сверл. Мы диагностируем и ремонтируем инструмент, приобретенный в Kerner или других компаниях.
            //end about-content__article

            //begin about-content__article
            .about-content__article.about-article
              h2.about-article__title Преимущества <span>Kerner</span>
              .about-article__row
                .about-article__item.about-article__item--33
                  h3.about-article__subtitle Низкие цены
                  span.about-article__text Прямые поставки от производителей обеспечивают более привлекательную цену на оборудование и запасные части: пневматические магнитные сверлильные станки Raven (МСС-52П) и Eagle (МСС-52ПИ), пневматические гайковерты Vessel (более 40 наименований) и др.
                .about-article__item.about-article__item--33
                  h3.about-article__subtitle Широкий ассортиментный ряд
                  span.about-article__text В каталоге компании более 45 моделей магнитных сверлильных станков, 14 моделей шлифовальных машин, 13 моделей заточных станков, 47 моделей пневматических гайковертов, 48 моделей электрогенераторов и др.
                .about-article__item.about-article__item--33
                  h3.about-article__subtitle Индивидуальный подход к каждому клиенту
                  span.about-article__text Удобные условия и сроки доставки: бесплатная доставка по Санкт-Петербургу в день заказа, доставка груза за границу — до 10 дней. Гибкая система предоставления скидок.

              .about-article__row
                .about-article__item
                  h3.about-article__subtitle Опыт реализации крупных российских проектов
                  span.about-article__text Среди клиентов — ведущие предприятия России, Казахстана, Белоруссии, Узбекистана, Литвы, Латвии, Эстонии: «Сибур», «Северсталь», «Севмаш», НИИ мостов, НПО им. С. А. Лавочкина, «Восточно-Сибирский ЗМК», «Стройметалконструкция», «Кузнецкие металлоконструкции», «Краснодарский завод металлоконструкций» и др.
            //end about-content__article

            //begin about-content__article
            .about-content__article.about-article
              h2.about-article__title Задача <span>Kerner</span>
              .about-article__row
                .about-article__item
                  span.about-article__text Комплексное обеспечение предприятий качественным иностранным и российским оборудованием по металлообработке за короткие сроки.
            //end about-content__article

            include ../sections/team-slider
          //end page-content
      //end page__content-wrap
    //end content

    include ../sections/footer-top
    include ../sections/footer

  include ../sections/scripts
