extends ../_template

block variables
  - var title       = 'Kerner'
  - var description = 'Kerner'
  - var ogtitle     = 'Kerner'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap.index
    include ../sections/headers/header
    include ../sections/headers/header-mobile

    //begin content
    main.main
      include ../sections/hero
      include ../sections/under-hero
      include ../sections/category
      include ../sections/help-line
      include ../sections/brands-line
      .index__content-wrap
        .container
          include ../sections/index-aside
          include ../sections/index-content
      include ../sections/footer-top
    //end content

    include ../sections/footer
  include ../sections/scripts
