extends ../_template

block variables
  - var title       = 'Kerner'
  - var description = 'Kerner'
  - var ogtitle     = 'Kerner'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap.index
    //include ../sections/header

    //begin content
    main.main
    //end content

    include ../sections/footer
