extends ../_template

block variables
  - var title       = 'Kerner'
  - var description = 'Kerner'
  - var ogtitle     = 'Kerner'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap.index
    include ../sections/header
    include ../sections/header-mobile

    //begin content
    main.main
      include ../sections/hero
      include ../sections/under-hero
      include ../sections/category
      include ../sections/help-line

    //end content

    include ../sections/footer
