// core
@import 'core/variables';
@import 'core/mixins';
@import 'core/base';

//elements
@import 'elements/burger';
@import 'elements/social';
@import 'elements/breadcrumbs';
@import 'elements/slickBase';
@import 'elements/popup';
@import 'elements/pages-aside-banner';
@import 'elements/pagination';
@import 'elements/jqueryUI';
@import 'elements/category-sort-filter';
@import 'elements/category-popular-filter';
@import 'elements/mobile-filter';

//main section
@import 'sections/header';
@import 'sections/header-mobile';
@import 'sections/under-header';
@import 'sections/info-line';
@import 'sections/footer';
@import 'sections/footer-top';
@import 'sections/pages-aside';
@import 'sections/pages-header';
@import 'sections/team-slider';
@import 'sections/catalog-menu';
@import 'sections/catalog-mobile-menu';
@import 'sections/filter-aside';

//hero section
@import 'sections/hero/hero';
@import 'sections/hero/hero-header';
@import 'sections/hero/hero-main';
@import 'sections/hero/hero-footer';

//index-page section
@import 'sections/under-hero';
@import 'sections/category';
@import 'sections/help-line';
@import 'sections/brands-line';
@import 'sections/index-aside';
@import 'sections/index-content';

//pages
@import 'pages/index';
@import 'pages/about';
@import 'pages/brands';
@import 'pages/brand';
@import 'pages/reviews';
@import 'pages/contacts';
@import 'pages/catalog';
@import 'pages/category';
@import 'pages/selection';
@import 'pages/category-list';
@import 'pages/request';
@import 'pages/request-ur';
@import 'pages/success';
@import 'pages/basket';
@import 'pages/card';
