// core
@import 'core/variables';
@import 'core/mixins';
@import 'core/base';

//elements
@import 'elements/burger';
//@import 'elements/breadcrumbs';
//@import 'elements/pagination';
//@import 'elements/popup';
//@import 'elements/slickBase';
// @import 'elements/stickyHeader';

//section
@import 'sections/footer';
@import 'sections/header';
@import 'sections/header-mobile';

@import 'sections/hero/hero';
@import 'sections/hero/hero-header';
@import 'sections/hero/hero-main';
@import 'sections/hero/hero-footer';

@import 'sections/under-hero';
@import 'sections/category';
@import 'sections/help-line';

//pages
@import 'pages/index';
