//begin breadcrumbs
.breadcrumbs
  ul.breadcrumbs__list
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Главная
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Каталог
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Магнитные сверлильные станки
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Магнитный сверлильный станок Euroboor ЕСО.30
//end breadcrumbs