.category {
  padding-top: 40px;
  padding-bottom: 30px;

  @include max(767) {
    padding-top: 30px;
  }

  .container {
    display: flex;
    align-items: flex-start;
  }
}

.category-body {
  width: calc(100% - 270px);
  padding-bottom: 30px;
  padding-left: 30px;

  @include max(1023) {
    width: 100%;
    padding-left: 0;
  }
}

.category-body__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 30px 0;
  border-left: 1px solid #e2e2e2;

  .popular-slider__item {
    width: 33.33%;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;

    @include max(767) {
      width: 50%;
    }
    @include max(480) {
      width: 100%;
    }
    &:nth-child(-n + 3) {
      border-top: 1px solid #e2e2e2;
    }
  }
}

.category-body__pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.category-article__header {
  position: relative;
  padding: 20px 0 5px 0;
  border-top: 1px solid #e5e5e5;
  &::before {
    position: absolute;
    top: 3px;
    right: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #e5e5e5;
  }
}

.category-article__title {
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  color: #272425;

  @include max(767) {
    font-size: 21px;
    line-height: 26px;
  }
}

.category-article__text {
  padding-top: 23px;
  p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    display: block;
    color: #272425;
  }
}

.category-article__text-btn {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}
