.documents__list {
  margin: 0 0 40px 0;
  padding: 0;
}

.documents__item {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  padding: 30px 43px 30px 30px;
  list-style: none;
  align-items: center;
  border: 1px solid #e5e5e5;
  @include max(860) {
    padding: 20px;
  }
  &:hover {
    .documents__title {
      color: $highlight;
    }
  }

  //  @include max(1023) {
  //    flex-direction: column-reverse;
  //    padding: 20px;
  //  }
}
.documents__link {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
}
.documents__main {
  display: flex;
  align-items: center;
  flex: 1;
  padding-right: 22px;
  @include max(480) {
    padding-right: 0;
  }

}

.documents__title {
  font-size: 18px;
  line-height: 24px;
  display: block;
  transition: color .5s;
  color: #253a5a;
}
.documents__img{
  flex: none;
  @include max(480) {
    display: none;
  }
  img {
    display: block;
    max-width: 100%;
  }
}

//.documents__text {
//  font-size: 14px;
//  line-height: 24px;
//  display: block;
//  margin-bottom: 20px;
//  color: #272425;
//}
//
//.documents__date {
//  font-size: 14px;
//  line-height: 1;
//  display: block;
//  margin-top: auto;
//  color: #c4c4c4;
//}
//
//.documents__img {
//  display: block;
//  flex: none;
//  width: 230px;
//  min-height: 175px;
//  background-repeat: no-repeat;
//  background-position: 50% 50%;
//  background-size: cover;
//
//  @include max(1023) {
//    display: none;
//  }
//}

.documents__pagination {
  padding: 10px 0 50px 0;
}
