.faq__list {
  margin: 0 0 40px 0;
  padding: 0;
}

.faq__item {
  list-style: none;
  &.active {
    .faq__question {
      &::before {
        background-color: $highlight;
      }
      &::after {
        display: none;
      }
    }
  }
}

.faq__question {
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  position: relative;
  padding-bottom: 15px;
  padding-left: 27px;
  cursor: pointer;
  transition: color .5s;
  color: #253a5a;

  @include max(767) {
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 10px;
  }
  &::before {
    position: absolute;
    top: 14px;
    left: 0;
    width: 12px;
    height: 2px;
    content: '';
    background-color: $brand;

    @include max(767) {
      top: 12px;
    }
  }
  &::after {
    position: absolute;
    top: 14px;
    left: 0;
    width: 12px;
    height: 2px;
    content: '';
    transform: rotate(90deg);
    background-color: $brand;

    @include max(767) {
      top: 12px;
    }
  }
  &:hover {
    color: $highlight;
  }
}

.faq__answer {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  display: none;
  padding-bottom: 15px;
  color: #272425;

  @include max(767) {
    padding-bottom: 10px;
  }
}

.faq__footer {
  display: flex;
  justify-content: flex-start;
  .btn {
    min-width: 280px;
  }
}
