.request {
  padding-top: 40px;
  padding-bottom: 30px;

  @include max(767) {
    padding-top: 30px;
  }
}

.request__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 770px;
  margin-bottom: 40px;

  @include max(767) {
    margin-bottom: 10px;
  }
}

.request__link {
  display: block;
  width: calc(50% - 15px);
  margin-bottom: 30px;
  padding: 40px;
  transition: .5s;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 34px rgba(37, 58, 90, 0);

  @include max(767) {
    width: 100%;
    max-width: 370px;
    margin-bottom: 30px;
    padding: 30px;
  }
  &:hover {
    box-shadow: 0 4px 34px rgba(37, 58, 90, .15);
    .request__text {
      span {
        color: $highlight;
      }
      svg {
        stroke: $highlight;
      }
    }
  }
}

.request__icon {
  width: 53px;
  height: 48px;
  margin-bottom: 30px;

  @include max(767) {
    margin-bottom: 20px;
  }
  svg {
    fill: $highlight;
    width: 53px;
    height: 48px;
  }
}

.request__text {
  display: flex;
  align-items: center;
  span {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    transition: color .5s;
    color: #253a5a;

    @include max(767) {
      font-size: 15px;
      line-height: 20px;
    }
  }
  svg {
    fill: none;
    width: 6px;
    height: 12px;
    margin: 0 15px;
    transition: stroke .5s;
    transform: rotate(180deg);

    stroke-width: 2px;
    stroke: #253a5a;
  }
}
