.hero {
  min-height: 100vh;
  padding: 110px 0 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: cover;
}